* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1.2rem;
    background-color: rgb(20, 20, 20);
    color:azure;
}
header {
    background-color: #030303;
    padding: 2rem 1rem;
    text-align: center;
    overflow: hidden;
}

.d-flex {
    display: flex;
    gap: 24px;
    margin: auto;
    max-width: 80%;
}
i,
.crawl {
    font-size: 14px;
}

.btn {
cursor: pointer;
}
.btn:hover{
    color: gold;
}

#persons {
    margin:20px auto;
    max-width: 50%;
    text-align: center;
    columns: 2;
}

p{
    font-size: 12px;
}

span{
    font-size: 20px;
}
.starships-show{
    display: block;
    width: 250px;
    margin: 50px auto;
    padding:  15px;
    cursor: pointer;
    background-color: pink;
}
.starships{
    display: block;
}